<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="dropdown">
    <span class="btn btn-primary">Mange</span>
    <div class="dropdown-content">
      <ul class="list-style-none">
        <li>
          <a class="dropdown-item p-2" (click)="onToList(recipe)">To List</a>
        </li>
        <li><a class="dropdown-item p-2" (click)="onEdit(recipe)">Edit</a></li>
        <li><a class="dropdown-item p-2" (click)="onDelete()">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <p>{{ recipe.description }}</p>
    <div class="list-group">
      <ul class="list-group-item" *ngFor="let ing of recipe.ingredient">
        <li>{{ ing.name }} - ({{ ing.amount }})</li>
      </ul>
    </div>
  </div>
</div>
