/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
  }